.wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 150ms ease, visibility 150ms ease;
}

@media (hover: hover) {
  .wrapper:hover .tooltip,
  .wrapper:focus-within .tooltip {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
